<?xml version="1.0"?>
<log4net debug="false">
    <appender name="GeneralRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="TRACE"/>
            <levelMax value="FATAL"/>
        </filter>
        <file value="Log_General.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
    </appender>
    <appender name="MySQLWriterAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG"/>
            <levelMax value="DEBUG"/>
        </filter>
        <file value="Log_MySQLWriter.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%m%n"/>
        </layout>
    </appender>
    <appender name="MySQLReaderAppender" type="log4net.Appender.RollingFileAppender">
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG"/>
            <levelMax value="DEBUG"/>
        </filter>
        <file value="Log_MySQLReader.log"/>
        <appendToFile value="true"/>
        <rollingStyle value="Size"/>
        <maxSizeRollBackups value="10"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="true"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%m%n"/>
        </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <mapping>
            <level value="ERROR"/>
            <foreColor value="Red"/>
            <backColor value="White, HighIntensity"/>
        </mapping>
        <mapping>
            <level value="INFO"/>
            <foreColor value="Yellow, HighIntensity"/>
        </mapping>
        <mapping>
            <level value="DEBUG"/>
            <foreColor value="Green, HighIntensity"/>
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="TRACE"/>
        <appender-ref ref="GeneralRollingLogFileAppender"/>
        <appender-ref ref="ColoredConsoleAppender"/>
    </root>
    <logger name="SchoolParser.MySQLWriter">
        <appender-ref ref="MySQLWriterAppender"/>
    </logger>
    <logger name="SchoolParser.MySQLReader">
        <appender-ref ref="MySQLReaderAppender"/>
    </logger>
</log4net>